.candidates img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}
.candidates {
  display: flex;
  flex-wrap: wrap;
}
.selecting {
  background-color: rgba(132, 162, 192, 0.7);
}
.span {
  padding: 2px 5px;
  border: 1px solid black;
  border-radius: 50%;
}
.buttons {
  max-width: 80% !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px auto;
}

.typeOfAction {
  border-right: solid 1px black;
}

.btnColor {
  background-color: #5b84b1ff !important;
  border-color: #5b84b1ff !important;
}
@media only screen and (max-width: 768px) {
  .typeOfAction {
    border: none;
  }
}
